header {
  border-bottom: solid 1px #000;
  height: 70px;
}

header .container {
  display: flex;
  justify-content:space-between ;
}

header h1{
  margin:0;
  height:100%;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu a {
  padding: 10px;
  margin-left: 10px;
}

.container {
  padding-top: 1%;
  padding-bottom: 20px;
}

.row {
  background-color: #EFEFEF;
}

.col-lg-6 {
  margin: 2%;
  max-width: 45%;
}

#drag-drop-area {
  margin-right: auto;
  left: 2%;
  right: auto;
  background-color: #ffffff;
  text-align: center;
}

.drag-drop-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}

.drop-zone-text {
    padding: 50px 0px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);
  opacity: 0.8;
  z-index: 100;
}

.overlay-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 33%;
  color: #F7F7F7;
}


.select-file {
  display: inline-block;
  margin: 0px auto;
  padding: 15px 40px;
  width: 400px;
  background-color: #1AA1FF;
  border-radius: 5px;
  color: #F7F7F7;
  cursor: pointer;
  font-weight: 700;
  z-index: 1;
}

.select-file:hover {
    background-color: #136EB6;
}

.text-area {
  margin-left: auto;
  left: auto;
  right: auto;
  width: 400px;
  height: 300px;
  background-color: #0000FF;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.btn {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
}

.img-container {
  max-width: 1140px;
  padding-top: 50px;
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.image-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  float: left;
}

.image-img:hover {
  opacity: 0.8;
}

.image-detail .image-img{
  object-fit: contain;
}

.image-detail .image-img:hover{
  object-fit: 1;
}

.message-success {
  background-color: #00d1b2;
  padding: 10px;
  padding-left: 30px;
  border-radius: 4px;
}

.btn {
  margin-top: 2%;
  float: right;
}
