.area-left {
  width: 400px;
  height: 300px;
  background-color: #FF0000;
}

.area-right {
  width: 400px;
  height: 300px;
  background-color: #0000FF;
}

.container {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #EFEFEF;
}

/* .no-active {
    display: none;
 } */

.drag-drop-area {
  margin-right: auto;
  left: auto;
  right: auto;
  width: 400px;
  height: 300px;
  background-color: #FF0000;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.drop-zone-text {
    padding: 50px 0px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);
  opacity: 0.8;
  z-index: 100;
}

.overlay-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 33%;
  color: #F7F7F7;
}


.select-file {
  display: inline-block;
  margin: 0px auto;
  padding: 15px 40px;
  width: 400px;
  background-color: #1AA1FF;
  border-radius: 5px;
  color: #F7F7F7;
  cursor: pointer;
  font-weight: 700;
  z-index: 1;
}

.select-file:hover {
    background-color: #136EB6;
}

.text-area {
  margin-left: auto;
  left: auto;
  right: auto;
  width: 400px;
  height: 300px;
  background-color: #0000FF;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.img-container {
  max-width: 1140px;
  padding-top: 50px;
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.image-img {
  width: 100%;
  max-width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.image-img:hover {
  opacity: 0.8;
}

.image-detail .image-img{
  object-fit: contain;
}

.image-detail .image-img:hover{
  object-fit: 1;
}

.message-success {
  background-color: #00d1b2;
  padding: 10px;
  padding-left: 30px;
  border-radius: 4px;
}
