{% extends 'app/base.html' %}
{% load widget_tweaks %}
{% block content %}

        <div class="image-detail row">
            <div class="col-lg-4" id="image-img">
                <img src="{{ image.image_f }}" class="img-fluid">
            </div>
            <div class="col-lg-8" id="image-text">
            
            <p>{{ image.title }}</p>
            <table>
                <tr>
                    <th>主張の理解</th>
                </tr>
                <tr>
                    <td>{{ image.theme }}</td>
                </tr>
                <tr>
                    <th>分析/言語化</th>
                </tr>
                <tr>
                    <td>{{ image.break_down }}</td>
                </tr>
                <tr>
                    <th>抽象化：外せないキーになる部分は？</th>
                </tr>
                <tr>
                    <td>{{ image.key_point }}</td>
                </tr>
                <tr>
                    <th>投稿日時</th>
                </tr>
                <tr>
                    <td>{{ image.created_at }}</td>
                </tr>
            </table>
            </div>

        </div>
        <form method="post" action="{% url 'app:images_delete' image.id %}">{% csrf_token %}
            <button type="submit" class="btn btn-primary" onclick='return confirm("本当に削除しますか？");'>削除</button>
        </form>
{% endblock %}