{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>

<head>
    <title>DragDrop</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="container">
        <form action="{% url 'app:index' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div id="drag-drop-area">
                <div class="drag-drop-inside">
                    <p class="drag-drop-info">ここにファイルをドロップ</p>
                    <p>または</p>
                    <p class="drag-drop-buttons"><input id="fileInput" type="file" value="ファイルを選択" name="image"></p>
                    <button type="submit" class="btn btn-primary">サブミット</button>
                </div>
            </div>
            <tr>
                <th>タイトル</th>
                <td>{{ form.title }}</td>
            </tr>
        </form>
    </div>
    
    <!-- アップロードした画像を表示 -->
    
    <div class="img-container"> 
        {% for img in images %}
            <div class='img'>
                <a href="{% url 'app:images_detail' img.id %}">
                    <img src="{{ img.image_f }}" class="image-img">
                </a>
            </div>
        {% empty %}
            <p>empty</p>
        {% endfor %}
    </div>

</body>

<script type="text/javascript" src="{% static 'js/dragdrop.js' %}"></script>
</html>