{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load bootstrap_toolkit %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html>

<head>
    <title>DragDrop</title>
</head>

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<body>

    <div class="container">
        <form action="{% url 'app:index' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-lg-6" id="drag-drop-area">
                    <div class="drag-drop-inside">
                        <p class="drag-drop-info">ここにファイルをドロップ</p>
                        <p>または</p>
                        <p class="drag-drop-buttons"><input id="fileInput" type="file" value="ファイルを選択" name="image"></p>
                    </div>
                </div>
                <div class="col-lg-6" id="text-area">
                    <div class="form-group">
                        <tr>
                            <th>タイトル</th>
                            <td><input class="form-control" title = "{{ form.title }}"></td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <th>コメント</th>
                            <td><input class="form-control" comment = {{ form.comment }}></td>
                        </tr>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">サブミット</button>
            </div>
        </form>
    </div>

    <!-- CSS効かないのでテスト -->
    <div class="row">
        <div id="col-lg-6" style="background:orange">aaa</div>
        <div id="col-lg-6" style="background:pink">bbb</div>
    </div>

    <!-- アップロードした画像を表示 -->

    <div class="img-container">
          {% for img in images %}
            <div class='img'>
                <a href="{% url 'app:images_detail' img.id %}">
                    <img src="{{ img.image_f }}" class="image-img">
                </a>
            </div>
        {% empty %}
            <p>empty</p>
        {% endfor %}
    </div>

</body>

<script type="text/javascript" src="{% static 'js/dragdrop.js' %}"></script>
</html>
