{% extends 'app/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <form action="{% url 'app:index' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="container">
        <div class="row">
            <div class="col-lg-6" id="drag-drop-area">
                <div class="drag-drop-inside">
                    <p class="drag-drop-info">ここにファイルをドロップ</p>
                    <p>または</p>
                    <p class="drag-drop-buttons"><input id="fileInput" type="file" value="ファイルを選択" name="image"></p>
                </div>
            </div>
            <div class="col-lg-6" id="text-area">
                <div class="form-group">
                    {{ form.title|add_class:'form-control' }}
                </div>
                <div class="form-group">
                    {{ form.comment|add_class:'form-control' }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">サブミット</button>
        </div>
    </form>


    <!-- アップロードした画像を表示 -->

    {% include 'app/img_list.html' %}

    {% endblock %}