{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load bootstrap_toolkit %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html>

<head>
    <title>DragDrop</title>
</head>

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<body>
    <header>
        <dic class="container">
            <h1><a href="{% url 'app:index' %}">DesignTracer</a></h1>
            <div class="header-menu">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'app:users_detail' request.user.id %}">マイペース</a>
                    <a href="{% url 'app:logout' %}">ログアウト</a>
                {% else %}
                    <a href="{% url 'app:login' %}">ログイン</a>
                {% endif %}
            </div>
        </dic>
    </header>
    